/* * */
body, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0; }

/* NAV */
.header-nav {
  min-height: 6vh;
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
  background-color: transparent; }
  .header-nav-2 {
    min-height: 6vh;
    position: fixed;
    z-index: 10;
    width: 100vw;
    top: 0;
    background-color: #000; }
  .header-nav ul li {
    position: relative; }

.nav-bar {
  float: right; }
  .nav-bar > li {
    display: inline-block;
    padding: 0.8em 1em; }
    @media (min-width: 320px) and (max-width: 460px) {
      .nav-bar > li {
        padding: 0.3em 0.4em;
        align-items: center;
        letter-spacing: 2px; } }
  .nav-bar a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; }
    @media (min-width: 320px) and (max-width: 460px) {
      .nav-bar a {
        font-weight: 600; } }
  .nav-bar > li:last-child a {
    padding-right: 3em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .nav-bar {
      padding-right: 0em; } }

/* dropdown menu */
ul li {
  text-decoration: none;
  display: inline-block; }

.drop-down-menu {
  display: none;
  position: absolute;
  border-radius: 0px 0px 6px 6px;
  background-color: transparent; }
  .drop-down-menu-2 {
    display: none;
    position: absolute;
    border-radius: 0px 0px 6px 6px;
    background-color: #000; }

.drop-down li {
  width: 190px;
  border-radius: 4px; }
  @media (min-width: 320px) and (max-width: 460px) {
    .drop-down li {
      width: 110px; } }
.drop-down li a {
  display: block;
  padding: 10px 14px; }
  @media (min-width: 320px) and (max-width: 460px) {
    .drop-down li a {
      font-size: 1em;
      text-transform: capitalize;
      font-weight: 600;
      padding: 4px 5px; } }
.drop-down li a:hover {
  background-color: #6a5f5c;
  z-index: 3; }

.hover-drop-down-menu {
  position: relative; }
  .hover-drop-down-menu:hover ul {
    display: block; }
  .hover-drop-down-menu:before {
    bottom: 1vh;
    border: 5px solid;
    border-color: #fff transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    transform: translate(-50%, 0);
    width: 0;
    left: 8.3em;
    top: 1.3em; }
    @media (min-width: 320px) and (max-width: 460px) {
      .hover-drop-down-menu:before {
        left: 8.7em;
        top: 0.7em; } }

/* footer */
.footer {
  width: 100%;
  height: 21vh;
  background: #000; }
  @media (min-width: 320px) and (max-width: 460px) {
    .footer {
      height: 32vh; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .footer {
      height: 28vh; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .footer {
      height: 28vh; } }
  .footer-description {
    display: flex;
    top: 0em;
    color: #fff;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 461px) and (max-width: 600px) {
      .footer-description {
        width: 95%; } }
  .footer-logo {
    flex: 0 1 28vw; }
    @media (min-width: 320px) and (max-width: 460px) {
      .footer-logo {
        display: none; } }
    @media (min-width: 461px) and (max-width: 600px) {
      .footer-logo {
        flex: 0 1 20vw;
        margin-top: 2em; } }
    @media (min-width: 601px) and (max-width: 850px) {
      .footer-logo {
        flex: 0 1 22vw; } }
    .footer-logo p {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 0.2em; }
      @media (min-width: 461px) and (max-width: 600px) {
        .footer-logo p {
          font-size: 1em; } }
    .footer-logo-image {
      padding-top: 0.4em; }
  .footer-address {
    order: -1;
    font-weight: 600; }

.social-block p {
  margin-top: 1em;
  font-weight: 600; }

/* MAIN IMAGE + TITLE */
.wrap {
  width: 100%; }

.image {
  background-image: url("/images/blueberry.jpg");
  background-attachment: fixed;
  position: relative;
  height: 100vh; }
  .image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7; }

.text {
  color: #fff;
  font-size: 5em;
  text-align: center; }

.main-logo {
  position: relative;
  top: 25vh; }
  @media (min-width: 320px) and (max-width: 460px) {
    .main-logo {
      top: 33vh; } }

.title-diet {
  position: relative;
  font-family: "Rokkitt", serif;
  font-weight: bold;
  font-size: 1.5em;
  top: 12vh; }
  @media (min-width: 320px) and (max-width: 460px) {
    .title-diet {
      font-size: 0.6em;
      top: 27vh; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .title-diet {
      font-size: 0.8em;
      top: 24vh; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .title-diet {
      font-size: 1.2em; } }

.subtitle-diet {
  position: relative;
  font-family: "Rokkitt", serif;
  font-style: italic;
  font-size: 0.6em;
  bottom: 7vh; }
  @media (min-width: 320px) and (max-width: 460px) {
    .subtitle-diet {
      font-size: 0.4em;
      top: 24vh; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .subtitle-diet {
      font-size: 0.5em;
      top: 10vh; } }

/* ABOUT US */
.about-us {
  background-color: #fff;
  background-size: cover;
  height: 85vh;
  position: relative; }
  .about-us::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: top left;
    transform: skewY(2.5deg);
    z-index: 5; }

.about-text {
  font-size: 1.8em;
  top: 10%;
  margin: auto 3em;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Literata", serif;
  line-height: 1.6;
  position: absolute;
  z-index: 6; }
  @media (min-width: 320px) and (max-width: 460px) {
    .about-text {
      font-size: 1.1em;
      line-height: normal; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .about-text {
      font-size: 1.3em;
      line-height: normal; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .about-text {
      font-size: 1.5em; } }
  .about-text p {
    font-weight: bold; }

/* Disease */
.list-of-diseases {
  position: relative; }

.avocado {
  background-image: url("/images/avocado.jpg");
  position: relative;
  height: 140vh;
  width: 100%; }
  .avocado::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7; }
  @media (min-width: 320px) and (max-width: 460px) {
    .avocado {
      height: 150vh; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .avocado {
      height: 160vh; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .avocado {
      height: 170vh; } }
  .avocado-items {
    position: absolute;
    margin: 4em 3em 1em 3em; }
    @media (min-width: 320px) and (max-width: 460px) {
      .avocado-items {
        margin: 1.5em auto 1em auto; } }
    @media (min-width: 461px) and (max-width: 600px) {
      .avocado-items {
        margin: 1.5em 1.5em 1em 1.5em; } }
    @media (min-width: 601px) and (max-width: 850px) {
      .avocado-items {
        margin: 2em 2em 1em 2em; } }

.diseases-text {
  color: #fff;
  font-size: 3.5em;
  font-weight: bold;
  margin: 1em 2em 1.2em 2em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .diseases-text {
      font-size: 1.8em;
      margin-bottom: 1.5em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .diseases-text {
      font-size: 2.5em;
      margin-bottom: 1.5em; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .diseases-text {
      font-size: 2.8em;
      margin-bottom: 1em; } }
  @media (min-width: 851px) and (max-width: 1060px) {
    .diseases-text {
      font-size: 3em;
      margin-bottom: 1.2em; } }

.avocado-squares {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.diseases-block {
  flex: 0 1 25vw;
  background-color: #fff;
  width: 25vw;
  height: 33vh;
  border-radius: 12px;
  margin: 2em auto;
  display: flex; }
  @media (min-width: 320px) and (max-width: 460px) {
    .diseases-block {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 42%;
      margin: 0.5em 0.2em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .diseases-block {
      flex: 1 1 40%;
      margin: 0.5em 0.5em; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .diseases-block {
      flex: 1 1 36%;
      margin: 0.8em 1.2em; } }
  @media (min-width: 851px) and (max-width: 1060px) {
    .diseases-block {
      flex: 1 1 20%;
      margin: 0.8em 1.2em; } }
  .diseases-block p {
    color: #000;
    font-size: 1.4em;
    margin: auto 0.2em; }
    @media (min-width: 320px) and (max-width: 460px) {
      .diseases-block p {
        font-size: 0.8em; } }
    @media (min-width: 461px) and (max-width: 600px) {
      .diseases-block p {
        font-size: 1em; } }
    @media (min-width: 601px) and (max-width: 850px) {
      .diseases-block p {
        font-size: 1.2em; } }
    @media (min-width: 851px) and (max-width: 1060px) {
      .diseases-block p {
        font-size: 1.2em; } }
  .diseases-block img {
    flex: 0 0 25%;
    height: 38%;
    margin: 1em 0.2em auto 0.5em; }
    @media (min-width: 320px) and (max-width: 460px) {
      .diseases-block img {
        flex: 0 0 20%;
        height: 25%;
        margin: 0.5em; } }

/* specialists */
.specialists {
  background-color: #fff; }
  .specialists h2 {
    padding-top: 2.5em;
    text-align: center;
    margin: 0 auto 1em auto;
    font-size: 3.5em;
    max-width: 35vw;
    font-weight: 600;
    border-bottom: 2px solid #000;
    font-family: "PT Sans", sans-serif; }
    @media (min-width: 320px) and (max-width: 460px) {
      .specialists h2 {
        font-size: 2em;
        border-bottom: none; } }
    @media (min-width: 461px) and (max-width: 600px) {
      .specialists h2 {
        font-size: 2.2em; } }
    @media (min-width: 601px) and (max-width: 850px) {
      .specialists h2 {
        font-size: 2.3em; } }
  .specialists-display {
    display: flex;
    max-width: 90%;
    margin: auto;
    padding-bottom: 5em; }
    @media (min-width: 320px) and (max-width: 460px) {
      .specialists-display {
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media (min-width: 461px) and (max-width: 600px) {
      .specialists-display {
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media (min-width: 601px) and (max-width: 850px) {
      .specialists-display {
        flex-wrap: wrap;
        justify-content: space-around; } }

.link-to-dietitian:link {
  text-decoration: none;
  color: #000; }

.dietitian {
  flex: 0 1 22vw;
  padding: 0.8em; }
  .dietitian img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    margin: auto; }
    @media (min-width: 320px) and (max-width: 460px) {
      .dietitian img {
        width: 100px;
        height: 100px;
        border-radius: 60px; } }
    @media (min-width: 461px) and (max-width: 600px) {
      .dietitian img {
        width: 130px;
        height: 130px;
        border-radius: 70px; } }
    @media (min-width: 601px) and (max-width: 850px) {
      .dietitian img {
        width: 180px;
        height: 180px;
        border-radius: 100px; } }
    @media (min-width: 851px) and (max-width: 1060px) {
      .dietitian img {
        width: 180px;
        height: 180px;
        border-radius: 100px; } }
    @media (min-width: 1061px) and (max-width: 1150px) {
      .dietitian img {
        width: 200px;
        height: 200px;
        border-radius: 100px; } }

.name {
  font-size: 1.3em;
  color: #000;
  width: 100%;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .name {
      font-size: 1em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .name {
      font-size: 1.1em; } }

.occupation {
  font-size: 1em;
  text-align: center;
  color: #5b5555;
  margin-top: -0.5em;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif; }
  @media (min-width: 320px) and (max-width: 460px) {
    .occupation {
      font-size: 0.8em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .occupation {
      font-size: 0.9em; } }

.socialmedia {
  color: #5b5555;
  text-align: center;
  margin-top: -0.2em;
  font-family: "PT Sans", sans-serif; }

.fab {
  margin: 0.4em; }

/* above map */
.address-info {
  padding-top: 4em;
  background-color: #f2f2f2; }
  @media (min-width: 320px) and (max-width: 460px) {
    .address-info {
      padding-top: 1em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .address-info {
      padding-top: 0em; } }

.address-text {
  display: flex;
  margin: 0em 3em 3em 3em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .address-text {
      flex-direction: column;
      margin: 0em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .address-text {
      flex-direction: column;
      margin: 0em; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .address-text {
      flex-direction: column;
      margin: 0em; } }

.adress-paragraph {
  font-size: 1.4em;
  line-height: 1.4em;
  flex: 0 1 50vw;
  padding: 0em 3em 0em 2em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .adress-paragraph {
      font-size: 1em;
      line-height: normal;
      padding: 0em 1.5em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .adress-paragraph {
      font-size: 1.2em;
      line-height: normal;
      padding: 0.2em 1.5em; } }
  .adress-paragraph > p {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    font-family: "PT Sans", sans-serif;
    line-height: 1.2em;
    max-width: 80%; }
    @media (min-width: 320px) and (max-width: 460px) {
      .adress-paragraph > p {
        font-size: 1.4em;
        line-height: normal; } }
    @media (min-width: 461px) and (max-width: 600px) {
      .adress-paragraph > p {
        font-size: 1.6em;
        line-height: normal; } }
    @media (min-width: 851px) and (max-width: 1060px) {
      .adress-paragraph > p {
        width: 100%; } }
  .adress-paragraph-for-image {
    flex: 1;
    text-align: center;
    padding-top: 3em; }
    @media (min-width: 320px) and (max-width: 460px) {
      .adress-paragraph-for-image {
        flex: 1 1 90%; } }
    @media (min-width: 461px) and (max-width: 600px) {
      .adress-paragraph-for-image {
        flex: 1 1 80%; } }
    @media (min-width: 601px) and (max-width: 850px) {
      .adress-paragraph-for-image {
        flex: 1 1 75%; } }

.image-office {
  width: 38vw;
  margin-top: 7em;
  border-radius: 15px; }
  @media (min-width: 320px) and (max-width: 460px) {
    .image-office {
      width: 90vw;
      margin-top: -1em;
      margin-bottom: 3em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .image-office {
      width: 80vw;
      margin-top: -2em;
      margin-bottom: 2em; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .image-office {
      width: 75vw;
      margin-top: -1em;
      margin-bottom: 2em; } }
  @media (min-width: 851px) and (max-width: 1060px) {
    .image-office {
      margin-top: 15em; } }

.address-contact {
  display: flex;
  flex-direction: column;
  margin: 2em 0em; }
  .address-contact div {
    display: flex;
    max-width: 40vw; }
  .address-contact p {
    font-size: 0.8em;
    font-weight: 700; }

.images-contact {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.7em 1em 0em 0em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .images-contact {
      height: 1.2rem;
      width: 1.2rem; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .images-contact {
      height: 2rem;
      width: 2rem; } }

/* map */
.map {
  width: 100%;
  height: 70vh;
  z-index: 2; }

/* common style for dietician-subpage */
.dietician-subpage-data {
  position: relative;
  height: 25vh; }
  @media (min-width: 320px) and (max-width: 460px) {
    .dietician-subpage-data {
      height: 10vh; } }

.dietician-subpage-title {
  position: absolute;
  top: 1em;
  left: 2.5em;
  font-size: 4em;
  text-transform: uppercase; }
  @media (min-width: 320px) and (max-width: 460px) {
    .dietician-subpage-title {
      top: 2.5em;
      left: 0.2em;
      font-size: 2em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .dietician-subpage-title {
      font-size: 2.3em;
      top: 2.3em;
      left: 0.3em; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .dietician-subpage-title {
      font-size: 2.3em;
      top: 2em; } }

.dietician-subpage-info {
  display: flex;
  margin: 14em 2em 8em 2em;
  justify-content: space-around; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px) {
    .dietician-subpage-info {
      height: auto;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 14em 2em 2em 2em; } }

.dietician-subpage-image {
  flex: 1;
  position: relative; }
  @media (min-width: 320px) and (max-width: 460px) {
    .dietician-subpage-image {
      flex: 0 0 500px; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .dietician-subpage-image {
      flex: 0 0 600px; } }

.photo-of-dietician-subpage {
  max-width: 30vw;
  height: 65vh;
  position: absolute;
  left: 3em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 601px) and (max-width: 850px) {
    .photo-of-dietician-subpage {
      height: 30vh;
      max-width: 70vw; } }
  @media (min-width: 461px) and (max-width: 600px), (min-width: 851px) and (max-width: 1060px) {
    .photo-of-dietician-subpage {
      height: 40vh;
      max-width: 80vw; } }

.dietician-subpage-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 28em;
  left: 3em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 601px) and (max-width: 850px) {
    .dietician-subpage-icons {
      top: 12em;
      left: 3em;
      margin-bottom: 1em; } }
  @media (min-width: 461px) and (max-width: 600px), (min-width: 851px) and (max-width: 1060px) {
    .dietician-subpage-icons {
      top: 16em;
      left: 3em;
      margin-bottom: 1em; } }

.icon-text-subpage-dietician {
  font-size: 2em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px) {
    .icon-text-subpage-dietician {
      font-size: 1em; } }
  @media (min-width: 851px) and (max-width: 1060px) {
    .icon-text-subpage-dietician {
      font-size: 1.4em; } }

.icon-subpage {
  width: 3em;
  padding: 0.8em 2em 2em 0em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px) {
    .icon-subpage {
      width: 1.5em;
      height: 1.5em;
      padding: 0.4em .5em .2em 0em; } }
  .icon-subpage-dietician {
    display: flex; }
    .icon-subpage-dietician p {
      padding: 0em 2em 2em 0em; }

.dietician-subpage-description {
  line-height: 1.4;
  flex: 0 0 42vw;
  font-size: 20px;
  background-color: #fff;
  padding: 0.8em 3em 1.2em 3em;
  margin-top: 0; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px) {
    .dietician-subpage-description {
      font-size: 13px;
      padding: 0.8em 0.2em 0.5em 0.2em;
      flex: 0 1 auto;
      margin: auto; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .dietician-subpage-description {
      flex-basis: 35vw;
      font-size: 13px; } }
  @media (min-width: 851px) and (max-width: 1060px) {
    .dietician-subpage-description {
      flex-basis: 35vw;
      font-size: 16px; } }

/* dietician-subtitle*/
.dietician-subtitle {
  position: absolute;
  font-size: 2em;
  top: 6em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .dietician-subtitle {
      font-size: 1em;
      top: 10em;
      left: 0em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .dietician-subtitle {
      font-size: 1.2em;
      top: 10em; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .dietician-subtitle {
      font-size: 1.5em;
      top: 7em; } }

.rachel-subtitle {
  left: 10em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .rachel-subtitle {
      left: 0.2em; } }

.monica-subtitle, .joey-subtitle {
  left: 13em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .monica-subtitle, .joey-subtitle {
      left: 0.2em;
      top: 11em; } }

.phoebe-subtitle {
  left: 5.5em; }
  @media (min-width: 320px) and (max-width: 460px) {
    .phoebe-subtitle {
      left: 0.2em; } }
  @media (min-width: 461px) and (max-width: 600px) {
    .phoebe-subtitle {
      left: 1em; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .phoebe-subtitle {
      left: 3.2em; } }

/*contact*/
.form {
  width: 60vw;
  height: 100vh;
  margin: 6em 0em 0em 10em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px), (min-width: 851px) and (max-width: 1060px), (min-width: 1061px) and (max-width: 1150px) {
    .form {
      margin: 8em auto;
      width: 95vw;
      text-align: center; } }
  @media (min-width: 851px) and (max-width: 1060px) {
    .form {
      width: 95vw; } }

.title-form {
  font-size: 2em;
  margin-left: 0.7em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px) {
    .title-form {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.input-first-line, .input-second-line, textarea {
  margin: 1em;
  background-color: #f1f1f3;
  border: none;
  font-size: 1em;
  padding-left: 1em;
  font-family: "Times New Roma", sans-serif; }

.input-first-line {
  width: 20vw;
  height: 6vh; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px) {
    .input-first-line {
      width: 70vw; } }
  @media (min-width: 851px) and (max-width: 1060px), (min-width: 1061px) and (max-width: 1150px) {
    .input-first-line {
      width: 32vw; } }

.input-second-line {
  width: 44vw;
  height: 6vh; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px), (min-width: 851px) and (max-width: 1060px), (min-width: 1061px) and (max-width: 1150px) {
    .input-second-line {
      width: 70vw; } }

textarea {
  width: 44vw;
  height: 24vh;
  padding-top: 1em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px), (min-width: 851px) and (max-width: 1060px), (min-width: 1061px) and (max-width: 1150px) {
    textarea {
      width: 70vw; } }

button {
  background-color: #000;
  color: #fff;
  width: 6em;
  height: 2.5em;
  border: 1px solid #000;
  font-weight: bold;
  margin: 2em 0em 0em 33em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px) {
    button {
      margin: 2em; } }

/*price-list*/
.price-container {
  background-image: radial-gradient(circle, #fff, #c6d8d8, #b0b2b2); }

.price-subpage {
  position: relative;
  padding: 5em 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (min-width: 320px) and (max-width: 460px) {
    .price-subpage {
      padding: 4em 2em; } }
  @media (min-width: 601px) and (max-width: 850px) {
    .price-subpage {
      padding: 4em 2.5em;
      justify-content: space-between; } }

.price-item {
  flex: 0 1 40vw;
  margin: 3em 0em;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  height: auto; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px) {
    .price-item {
      flex: 1 1 90vw; } }

.price-title, .price-price, .price-time {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }

.price-title {
  font-size: 2em;
  color: #43485e;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 461px) and (max-width: 600px), (min-width: 601px) and (max-width: 850px) {
    .price-title {
      font-size: 1.3em; } }
  @media (min-width: 320px) and (max-width: 460px) {
    .price-title {
      font-size: 1.6em; } }

.price-logo {
  color: #4fcb6b;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 601px) and (max-width: 850px), (min-width: 851px) and (max-width: 1060px) {
    .price-logo {
      margin-top: -1em; } }

@media (min-width: 320px) and (max-width: 460px) {
  .price-price {
    font-weight: normal; } }

@media (min-width: 320px) and (max-width: 460px) {
  .price-time {
    font-weight: normal; } }
@media (min-width: 851px) and (max-width: 1060px) {
  .price-time {
    margin-top: -1em; } }

.price-text {
  padding: 1em 2em; }
  @media (min-width: 320px) and (max-width: 460px), (min-width: 601px) and (max-width: 850px) {
    .price-text {
      padding: 0.5em 1em;
      font-size: 0.8em; } }
  @media (min-width: 461px) and (max-width: 600px), (min-width: 851px) and (max-width: 1060px) {
    .price-text {
      padding: 1em; } }

/*# sourceMappingURL=main.css.map */
