<footer class="footer">
    <div class="footer-description">
      <div class="footer-logo">
        <i class="fas fa-leaf fa-2x"></i>
        <p>  Harmonydiet </p>
      </div>
      <div class="footer-address">
        <p> Grunwaldzka 22,</br> 50-363 Wroclaw </p>
        <p> call us on 511 211 3112 </p>
      </div>
        <div class="social-block">
          <p> Follow us </p>
          <ul class="social-list">
             <li class="social-icon">
               <i class="fab fa-facebook fa-2x"></i>
             </li>
             <li class="social-icon">
               <i class="fab fa-instagram fa-2x"></i>
             </li>
             <li class="social-icon">
                <i class="fab fa-twitter fa-2x"></i>
             </li>
          </ul>
        </div>

    </div>
</footer>
