<header>
  <div class="header-nav">
     <ul class="nav-bar">
      <li><a href="/">Home</a></li>
      <li><a href=#> Contact</a></li>
      <li><a href=#> Price list</a></li>
      <div class="dropdown">
       <p class="dropbtn" id="dropbtn"> Dietitians </p>
         <div class="dropdown-content" id="dropdownContent">
           <ul class="dropdown-list">
             <li><a href="#"> Rachel Green </a></li>
             <li><a href="#"> Monica Geller </a></li>
             <li><a href="#"> Joey Tribbiani </a></li>
             <li><a href="#"> Phoebe Buffay </a></li>
         </div>
      </div>
     </ul>
  </div>
</header>
