<head>

  <title> Website </title>
  <link href="/favicon.png" rel="icon">
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Literata|Rokkitt|PT+Sans&&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/css/main.css">
  <link href="/fonts/css/all.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/mainjs.js"></script>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
</head>
