<ul class="nav-bar">
 <li><a href="/">Home</a></li>
 <li><a href=/price> Price list </a></li>
 <li id="hoverDropDownMenu" class="hover-drop-down-menu"><a href="javascript:void(0);"> Dietitians</a>
   <ul id="dropDownMenu" class="drop-down hidden-drop-down-menu">
     <li><a href="/Rachel"> Rachel Green </a></li>
     <li><a href="/Monica"> Monica Geller </a></li>
     <li><a href="/Joey"> Joey Tribbiani </a></li>
     <li><a href="/Phoebe"> Phoebe Buffay </a></li>
   </ul>
 </li>
 <li><a href=/contact> Contact </a></li>
</ul>
