/* NAV */
.header-nav{
  @include header {
    background-color: transparent;
  }
  &-2{
   @include header {
     background-color: $color-black;
   }
  }
  ul li {
    position: relative;
  }
}

.nav-bar {
  float: right;
  > li {
    display: inline-block;
    padding: 0.8em 1em;
    @media #{$break-xs}{
      padding: 0.3em 0.4em;
      align-items: center;
      letter-spacing: 2px;
    }
  }
  a {
    @include text($weight: bold, $color: $color-white, $transform: uppercase);
    text-decoration: none;
  }
  > li:last-child a {
    padding-right: 3em;
  }
}

/* dropdown menu */
ul li {
  text-decoration: none;
  display: inline-block;
}

.drop-down-menu {
  @include drop-down {
    background-color: transparent;
  }
  &-2 {
    @include drop-down {
      background-color: $color-black;
    }
  }
}

.hidden-drop-down-menu {
  display: none;
}
.show-drop-down-menu {
  display: block;
}

.drop-down {
   li {
    width: 190px;
    border-radius: 4px;
    @media #{$break-xs}{
      width: 110px;
    }
   }
   li a {
     display: block;
     padding: 10px 14px;
     @media #{$break-xs}{
       @include text($size: 1em, $weight: 600, $transform: capitalize);
       padding: 4px 5px;
     }
   }
   li a:hover {
    background-color: #6a5f5c;
    z-index: 3;
   }
}

.hover-drop-down-menu {
  position: relative;
  &:hover ul {
    display: block;
  }
  &:before {
   bottom: 1vh;
   border: 5px solid;
   border-color: $color-white transparent transparent;
   content: "";
   height: 0;
   position: absolute;
   transform: translate(-50%, 0);
   width: 0;
   left: 8.3em;
   top: 1.3em;
   @media #{$break-xs}{
     left: 8.7em;
     top: 0.7em;
   }
  }
}
/* footer */
.footer {
  width: 100%;
  height: auto;
  background: $color-black;

  &-description {
    @include text($color: $color-white);
    display: flex;
    top: 0em;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    @media #{$break-s}{
      width: 95%;
    }
  }
  &-logo {
    flex: 0 1 28vw;
    @media #{$break-xs}{
      display: none;
    }
    @media #{$break-s}{
      flex: 0 1 20vw;
      margin-top: 2em;
    }
    @media #{$break-m}{
      flex: 0 1 22vw;
    }
    p {
      @include text($size: 1.5em, $weight: bold);
      font-weight: bold;
      margin-top: 0.2em;
      @media #{$break-s}{
        @include text($size: 1em);
      }
    }
    &-image{
      padding-top: 0.4em;
    }
  }
  &-address {
    order: -1;
    @include text($weight: 600);
  }
}

.social-block p {
  margin-top: 1em;
  @include text($weight: 600);
}
