/* MAIN IMAGE + TITLE */
.wrap {
    width: 100%;
}
.image {
    background-image: url("/images/blueberry.jpg");
    background-attachment: fixed;
    position: relative;
    height: 100vh;
      @include efect-for-background {
        background: $color-black;
        opacity: 0.7;
      }
}

.text {
    color: $color-white;
    font-size: 5em;
    text-align: center;
}
.main-logo {
  position: relative;
  top: 25vh;
}
.title-diet{
  position: relative;
  font-family: $font-rokkitt;
  font-weight: bold;
  font-size: 1.5em;
  top: 12vh;
  @media (max-width: $break-xs){
   font-size: 0.6em;
   top: 27vh;
  }
}
.subtitle-diet{
    position: relative;
    font-family: $font-rokkitt;
    font-style: italic;
    font-size: 0.6em;
    bottom: 7vh;
    @media (max-width: $break-xs){
     font-size: 0.4em;
     top: 24vh;
    }
}
/* ABOUT US */
.about-us {
background-color: $color-white;
background-size: cover;
height: 70vh;
position: relative;
@include efect-for-background {
width: 100%;
height: 100%;
background: $color-white;
transform-origin:top left;
transform: skewY(2.5deg);
z-index: 5;
}
}

.about-text{
font-size: 1.8em;
padding: 2em;
margin: 3em 3em;
text-align: center;
font-family: $font-literata;
line-height: 1.6;
position: relative;
z-index: 6;
p {
font-weight: bold;
}
}

/* Disease */
.list-of-diseases {
position: relative;
}
.avocado {
background-image: url("/images/avocado.jpg");
position: relative;
height: 140vh;
width: 100%;
@include efect-for-background {
background: $color-black;
opacity: 0.7;
}
&-items{
position: absolute;
margin: 4em 3em 1em 3em;
}
}

.diseases-text {
color: $color-white;
font-size: 3.5em;
font-weight: bold;
margin: 1em 2em 1.2em 2em;
}
.avocado-squares{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
}
.diseases-block {
flex: 0 1 25vw;
background-color: $color-white;
width: 25vw;
height: 33vh;
border-radius: 12px;
margin: 2em auto;
display: flex;
p {
color: $color-black;
font-size: 1.5em;
margin: auto 0.2em;
}
img {
flex: 0 0 25%;
height: 38%;
margin: 1em 0.2em auto 0.5em;
}
}

/* specialists */
.specialists {
background-color: $color-white;
h2 {
padding-top: 2.5em;
text-align: center;
margin: 0 auto 1em auto;
font-size: 3.5em;
max-width: 35vw;
font-weight: 600;
border-bottom: 2px solid $color-black;
font-family: $font-pt;
}
&-display {
display: flex;
max-width: 90%;
margin: auto;
padding-bottom: 5em;
}
}

.link-to-dietitian:link {
text-decoration: none;
color: $color-black;
}
.dietitian {
flex: 0 1 22vw;
padding: 0.8em;
img {
width: 250px;
height: 250px;
border-radius: 150px;
margin: auto;
}
}

.name {
font-size: 1.3em;
color: $color-black;
width: 100%;
text-align: center;
font-weight: 400;
text-transform: uppercase;
margin-top: 1em;
}
.occupation {
font-size: 1em;
text-align: center;
color: $color-dark-gray;
margin-top:-0.5em;
text-transform: uppercase;
font-family: $font-pt;
}
.socialmedia {
color: $color-dark-gray;
text-align: center;
margin-top: -0.2em;
font-family: $font-pt;
}
.fab {
margin: 0.4em;
}


/* above map */
.address-info {
padding-top: 4em;
background-color: #f2f2f2;
}
.address-text {
display: flex;
margin: 0em 3em 3em 3em;
}
.adress-paragraph {
font-size: 1.4em;
line-height: 1.4em;
flex: 0 1 50vw;
padding: 0em 3em 0em 2em;
> p{
font-weight: bold;
font-size: 2em;
text-align: center;
margin-right: 1em;
font-family: $font-pt;
line-height: 1.2em;
max-width: 80%;
}
&-for-image {
flex: 1;
text-align: center;
padding-top: 3em;
}
}

.image-office {
width: 38vw;
margin-top: 7em;
border-radius: 15px;
}
.address-contact {
display: flex;
flex-direction: column;
margin: 2em 0em;
div {
display: flex;
max-width: 40vw;
}
p {
font-size: 0.8em;
font-weight: 700;
}
}

.images-contact {
height: 2.5rem;
width: 2.5rem;
padding: 0.7em 1em 0em 0em;
}
/* map */
.map {
width: 100%;
height: 70vh;
z-index: 2;
}
