/* common style for dietician-subpage */
.dietician-subpage-data {
  position: absolute;
  text-align: center;
  top: 4em;
  left: 13vw;
  margin-bottom: 4em;
  @media #{$break-xs}, #{$break-s} {
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
  }
}
.dietician-subpage-title {
  font-size: 4em;
  text-transform: uppercase;
  @media #{$break-xs} {
    font-size: 2em;
  }
  @media #{$break-s}{
    font-size: 2.3em;
  }
  @media #{$break-m}, #{$break-l}, #{$break-sm2}, #{$break-l2} {
    font-size: 2.3em;
  }
}
.dietician-subtitle {
  font-size: 2em;
  @media #{$break-xs} {
    font-size: 1em;
  }
  @media #{$break-s} {
    font-size: 1.2em;
  }
  @media #{$break-m}, #{$break-sm2}, #{$break-l2} {
    font-size: 1.5em;
  }
}

/* */
.dietician-subpage-info {
  display: flex;
  margin: 25em 10% 8em 10%;
  min-height: 100vh;
  justify-content: space-around;
  @media #{$break-xs}, #{$break-s}, #{$break-m}, #{$break-sm2}{
   flex-direction: column;
   justify-content: center;
   margin: 15em auto 2em auto;
  }
  @media #{$break-xl2}, #{$break-l2}{
    margin: 25em 5% 8em 5%;
  }
}
.dietician-subpage-image{
  flex: 1;
  position: relative;
  @media #{$break-xs}{
    flex: 0 0 600px;
  }
  @media #{$break-s}, #{$break-m}, #{$break-sm2}{
    flex: 0 0 700px;
  }
}
.photo-of-dietician-subpage {
  max-width: 30vw;
  height: 65vh;
  max-width: 350px;
  max-height: 350px;
  @media #{$break-xs}, #{$break-s}, #{$break-m}, #{$break-l}, #{$break-sm2}{
    height: 30vh;
    max-width: 75vw;
    margin-bottom: 2vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  @media #{$break-sm2}{
    height: 80vh;
    max-width: 80vw;
    margin-bottom: 2vh;
  }
  @media #{$break-m}, #{$break-sm2}, #{$break-s} {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  @media #{$break-l2}{
    height: 60vh;
    max-width: 60vw;
    margin: 0em 0em 2em 1.5em;
  }
  @media #{$break-xl2}{
    height: 50vh;
    max-width: 45vw;
  }
}
.dietician-subpage-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 28em;
  @media #{$break-xs}{
   left: 50%;
   transform: translatex(-50%);
   top: 15em;
   margin-top: 1vh;
  }
  @media #{$break-m}, #{$break-s}, #{$break-sm2}, #{$break-l2}, #{$break-xl2}{
   top: 23em;
   left: 50%;
   transform: translateX(-50%);
  }
  @media #{$break-l2}{
   font-size: 0.8em;
  }
}
.icon-text-subpage-dietician {
 font-size: 2em;
 @media #{$break-xs}, #{$break-s}, #{$break-m}, #{$break-sm2} {
  font-size: 1em;
  margin-top: 2em;
 }
 @media #{$break-l} {
  font-size: 1.4em;
 }
}

.icon-subpage {
  width: 3em;
  padding: 0.8em 2em 2em 0em;
  @media #{$break-xs}, #{$break-s}, #{$break-m}, #{$break-sm2} {
    width: 1.5em;
    height: 1.5em;
    padding: 0.4em .5em .2em 0em;
  }
  &-dietician {
    display: flex;
    p {
     padding: 0em 2em 2em 0em;
    }
  }
}

.dietician-subpage-description {
  line-height: 1.4;
  flex: 0 0 42vw;
  font-size: 20px;
  background-color: $color-white;
  padding: 0.8em 3em 1.2em 3em;
  margin-top: 0;
  max-width: 400px;
  @media #{$break-xs}, #{$break-s} {
   font-size: 13px;
   padding: 0.8em 0.2em 0.5em 0.2em;
   flex: 0 1 auto;
   margin: auto 2em;
  }
  @media #{$break-m}, #{$break-sm2}, #{$break-l2}{
   flex-basis: 35vw;
   font-size: 13px;
   max-width: none;
   margin: auto 4em;
  }
  @media #{$break-l}{
   flex-basis: 35vw;
   font-size: 16px;
   max-width: none;
   margin: auto 4em;
  }
}

/*contact*/
.form-container {
  min-height: 100vh;
}
.form {
  margin: 10em auto;
  width: 95vw;
  text-align: center;
  height: auto;
  @media #{$break-xs}, #{$break-s} {
   margin: 8em auto;
  }
}
.title-form {
  font-size: 3em;
  margin-left: 0.7em;
  @media #{$break-xs}, #{$break-s}, #{$break-m} {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

%input {
  margin: 1em;
  background-color: $color-gray;
  border: none;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: $font-timesnewroma;
}

.input-line {
  @extend %input;
   width: 44vw;
   height: 10vh;
   max-height: 45px;
    @media #{$break-xs}, #{$break-s}, #{$break-m}, #{$break-l}{
     width: 70vw;
   }
   @media #{$break-sm2}, #{$break-l2}{
   width: 60vw;
   height: 10vh;
   }
}
textarea {
  @extend %input;
   width: 44vw;
   height: 24vh;
   padding-top: 1em;
   @media #{$break-xs}, #{$break-s}, #{$break-m}, #{$break-l} {
     width: 70vw;
   }
   @media #{$break-sm2}, #{$break-l2}{
   width: 60vw;
   height: 40vh;
   }
}
button {
  background-color: $color-black;
  color: $color-white;
  width: 6em;
  height: 2.5em;
  border: 1px solid $color-black;
  font-weight: bold;
  margin: 2em 0em 5em 33em;
  @media #{$break-xs}, #{$break-s}, #{$break-m}, #{$break-sm2}, #{$break-l2} {
    margin: 2em 2em auto 2em;
  }
}
/*price-list*/

.price-container {
  background-image: radial-gradient(circle, #fff, #c6d8d8, #b0b2b2);;
}
.price-subpage {
  position: relative;
  padding: 5em 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media #{$break-xs} {
    padding: 4em 2em;
  }
  @media #{$break-m} {
    padding: 4em 2.5em;
    justify-content: space-between;
  }
}
.price-item {
  flex: 0 1 40vw;
  margin: 3em 0em;
  background-color: $color-white;
  border: 1px solid $color-black;
  text-align: center;
  height: auto;
  @media #{$break-xs}, #{$break-s} {
    flex: 1 1 90vw;
  }
}
%price-font {
  font-family: $font-quicksand;
  font-weight: bold;
}

.price-title {
  @extend %price-font;
  font-size: 2em;
  color: #43485e;
  text-align: center;
  @media #{$break-xs}, #{$break-s}, #{$break-m} {
    font-size: 1.3em;
  }
  @media #{$break-xs} {
    font-size: 1.6em;
  }
}
.price-logo {
  color: #4fcb6b;
  text-align: center;
  @media #{$break-xs}, #{$break-m}, #{$break-l} {
    margin-top: -1em;
  }
}
.price-price{
  @extend %price-font;
  @media #{$break-xs} {
    font-weight: normal;
  }
}
.price-time{
  @extend %price-font;
  @media #{$break-xs} {
    font-weight: normal;
  }
  @media #{$break-l} {
    margin-top: -1em;
  }
}
.price-text{
 padding: 1em 2em;
 @media #{$break-xs}, #{$break-m} {
   padding: 0.5em 1em;
   font-size: 0.8em;
 }
 @media #{$break-s}, #{$break-l} {
   padding: 1em;
 }
}
