// variables /
$color-black: #000;
$color-white: #fff;
$color-gray: #f1f1f3;
$color-dark-gray: #5b5555;

$font-rokkitt: 'Rokkitt', serif;
$font-literata: 'Literata', serif;
$font-pt: 'PT Sans', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-timesnewroma:'Times New Roma', sans-serif;

$break-xs: "(min-width: 320px) and (max-width: 460px) and (orientation: portrait)";
$break-s: "(min-width: 461px) and (max-width: 600px) and (orientation: portrait)";
$break-m: "(min-width: 601px) and (max-width: 850px) and (orientation: portrait)";
$break-sm2: "(min-width: 461px) and (max-width: 839px) and (orientation: landscape)";
$break-l: "(min-width: 851px) and (max-width: 1060px)";
$break-l2: "(min-width: 840px) and (max-width: 920px) and (orientation: landscape)";
$break-xl: "(min-width: 1061px) and (max-width: 1200px) and (orientation: portrait)";
$break-xl2: "(min-width: 921px) and (max-width: 1450px) and (orientation: landscape)";
$break-xxxl: "(min-width: 1800px) and (max-width: 2000px)";

// mixins /
@mixin header {
  height: auto;
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
  @content;
}
@mixin drop-down {
  position: absolute;
  border-radius: 0px 0px 6px 6px;
  @content;
}
@mixin efect-for-background {
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @content;
  }
}

@mixin centering {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  @content;
}

@mixin translateX {
  left: 50%;
  transform: translateX(-50%);
  @content;
}

@mixin translateXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @content;
}

@mixin roundy($height, $width, $border) {
  height: $height;
  width: $width;
  border-radius: $border;
}

@mixin flexy(
  $disp: flex,
  $dir: null,
  $just: null,
  $wrap: null)
  {
  display: $disp;
  flex-direction: $dir;
  justify-content: $just;
  flex-wrap: $wrap;
}

@mixin text(
 $size: null,
 $l-height: null,
 $weight: null,
 $color: null,
 $family: null,
 $style: null,
 $transform: null,
)
{
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
  font-family: $family;
  font-style: $style;
  text-transform: $transform;
}
