// variables /
$color-black: #000;
$color-white: #fff;
$color-gray: #f1f1f3;
$color-dark-gray: #5b5555;

$font-rokkitt: 'Rokkitt', serif;
$font-literata: 'Literata', serif;
$font-pt: 'PT Sans', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-timesnewroma:'Times New Roma', sans-serif;

$break-xs: "(min-width: 320px) and (max-width: 460px)";
$break-s: "(min-width: 461px) and (max-width: 600px)";
$break-m: "(min-width: 601px) and (max-width: 850px)";
$break-l: "(min-width: 851px) and (max-width: 1060px)";
$break-xl: "(min-width: 1061px) and (max-width: 1150px)";

// mixins /
@mixin header {
  height: auto;
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
  @content;
}
@mixin drop-down {
  position: absolute;
  border-radius: 0px 0px 6px 6px;
  @content;
}
@mixin efect-for-background {
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @content;
  }
}
